@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --primary-gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --darker-blue: hsl(229, 57%, 11%);
  --body-copy: #f8f9fb;
}

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*10px basefontcopy=14px*/
  height: 100%;
}

body {
  background-color: var(--darker-blue);
  color: var(--body-copy);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  min-height: 100%;
  max-width: 144rem;
  background-image: url(/images/bg-mobile.svg);
  background-size: cover;
}

main {
  max-width: 92rem;
}

section {
  background: var(--dark-blue);
  padding: 4rem 11rem 4rem 4rem;
  border-radius: 0.8rem;
  border-top-right-radius: 10rem;
}

.container {
  max-width: 18rem;
  /* max-width: 46rem; */
}

.brand {
  margin-bottom: 1.7rem;
}

.logo {
  padding-bottom: 3.5rem;
}

ul {
  display: flex;
}

li {
  list-style: none;
  margin-left: 1.5rem;
  width: 4.8rem;
  height: 4.8rem;
  background: var(--darker-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

li:first-child {
  margin-left: 0;
}

/* .attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
